.uno
{
    color:black; height: 100px ; 
    height:100px;
    background-color: #E2E2E2;
    text-align: center;
    front-size:25px;
}

.dos
{
    color:black; height: 100px ; 
    height:100px;
    background-color: #FFF0AC ;
    text-align: center;
    front-size:25px;
}

.tres
{
    color:black; height: 200px ; 
    height:270px;
    background-color: #D1EAFF ;
    style="background-color: #85BEF2; height: 400px; ; width: 100%">
}

.cuatro
{
    color:black; height: 100px ; 
    height:100px;
    background-color: #E2E2E2;
    text-align: center;
    front-size:25px;
}



