@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

.memim
{
    height: 50px;
    background-color: #303030;
    text-align: center;
    font-size: 25px;
    font-family: "Micro 5", sans-serif;
    
    /* estás 3 líneas es para centrar todo*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.memim a
{
    color:white;
    text-decoration: none;
    margin: 1px; /*Cambiar a 1*/
    
    /* Nuevo en cada palabra del menú*/
    height: 100%;
    width: 100px;
    background-color: #6C6C6C;
    
   
    /* estás 3 líneas es para centrar todo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.cody{
    /*estás 3 líneas es para centrar*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    /*esta línea es para el color*/
    background-color:#48404f;
    
    /*esta línea es para el color de letra*/
    color:#311c18;
    
    /*esta línea es para la altura del cuadrado*/
    height: 100px;
    /*esta línea es para que swe baje*/
    flex-direction: column;
     }
.productos 
{
    /* estás 3 líneas es para centrar todo*/
    display: flex;
    justify-content: center;
    align-items: center;
      
    background-color: #6C6C6C;
       
    /*esta línea es para el color de letra*/
    color:#311c18;
}
.cont
{
    /* estás 3 líneas es para centrar todo*/
    display: flex;
    justify-content: center;
    align-items: center;
      
    background-color: #6C6C6C;
       
    /*esta línea es para el color de letra*/
    color:#311c18;
    /*esta línea es para que swe baje*/
    flex-direction: column;
}